footer {
    background: $light;
    padding: 4rem 0 2rem;
    margin: 4rem 0 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .company {
        ul {
            display: flex;
            align-items: flex-end;
            margin: 1rem 0 0;

            li {
                padding: 0 0.25rem;

                a {
                    display: block;
                    padding: 0.25rem;
                }
            }

            path {
                fill: $primary;
            }
        }
    }

    .logos {
        display: flex;

        > div {
            padding: 0 1rem;
        }
    }

    .subscription {
        text-align: right;

        h3 {
            color: $primary;
        }

        span {
            font-size: 14px;
        }
    }

    form {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin: 1rem 0 0;

        .button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.copyright {
    display: block;
    text-align: center;
    padding: 0 1rem;
    font-size: 14px;
}