.container {
    display: block;
    width: 100%;
    max-width: $wide;
    padding: 0 1rem;
    margin: 0 auto;

    &.narrow {
        max-width: $narrow;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }

    &.center {
        justify-content: center;
    }

    > * {
        padding: 0 0.5rem;
    }
}

.col {

    &.col-2 {
        width: 16.66%;
    }

    &.col-3 {
        width: 25%;
    }

    &.col-20 {
        width: 20%;
    }

    &.col-6 {
        width: 50%;
    }
}

.listing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-right: 1.5rem;
    background: $white;
    border-radius: 4px;
    margin: 0 0 1rem;
    box-shadow: 0 0 0 0.05rem rgba(8,60,130,.06), 0 0 1.25rem rgba(30,34,40,.04);

    svg {
        position: relative;
        transition: 0.2s;
        left: 0;
    }

    &:hover {
        span {
            color: $primary;
        }

        svg {
            
            left: 0.5rem;
            path {
                stroke: $primary;
            }
        }
        
    }
}