.container {
    display: block;
    width: 100%;
    max-width: $wide;
    padding: 0 1rem;
    margin: 0 auto;

    &.narrow {
        max-width: $narrow;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.5rem;

    &.space-between {
        justify-content: space-between;
    }

    &.align-center {
        align-items: center;
    }

    &.center {
        justify-content: center;
    }

    > * {
        padding: 0 0.5rem;
    }
}

.col {

    &.col-3 {
        width: 25%;
    }
}