.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 0;
}

.navigation {

    ul {
        display: flex;

        li {
            padding: 0 0.5rem;
            a {
                display: block;
                padding: 0.5rem;
                font-weight: 500;
                color: $black;
                transition: 0.2s;

                &:hover {
                    color: $green;
                }
            }
        }
    }
}