.page-header {
    padding: 4rem 0;

    .titleWrapper {
        display: block;
        margin: 0 0 4rem;
        text-align: center;

        p {
            line-height: 2;
            font-size: 1rem;
        }
    }

    .meta {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.breadcrumbs {
    display: flex;

    span {
        display: block;
        height: 100%;
    }

    svg {
        position: absolute;
        right: 4px;
    }

    a {
        position: relative;
        display: flex;
        align-items: center;
        padding-right: 32px;
        color: $primary;
    }
}

.date {
    display: flex;

    svg {
        margin-right: 0.5rem;
    }
}