/* Colors */
$primary: #184176;
$green: #46AD45;
$black: #222;
$white: #fff;
$text: #333;
$border: #ccc;
$light: #F4F8FF;

/* Width */
$wide: 1320px;
$narrow: 1070px;

/* Shadows */

/* Font Family */